.sidebar-wrapper {
  min-height: 100vh;
  height: 100%;
  width: 280px;
  background-image: linear-gradient(60deg, #29323c 0%, #2f3844 100%);
  color: #e0e0e0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
}

.logo {
  display: block;
  padding: 25px;
}

.logo:hover {
  cursor: pointer;
}

.logo img {
  object-fit: cover;
  width: 100%;
}

.sidebar-body {
  padding: 0 15px;
  flex-grow: 1;
}

h2 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.sidebar-link-text {
  margin-left: 10px;
  font-weight: bold;
}

.sidebar-footer {
  position: sticky;
  bottom: 0;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

::ng-deep button:enabled:focus {
  outline: 0 none;
  outline-offset: 0px;
  box-shadow: none;
}

.link-active {
  background: #3a434e;
}