<section class="header container-fluid">
  <div class="container">
    <div class="navbar">
      <a href="" class="logo"
        ><img
          src="assets/img/logo-demergenza.png"
          alt="demergenza"
          height="120px"
      /></a>
      <ul>
        <i class="fa-solid fa-xmark" (click)="toggleNavbar()"></i>
        <li>
          <a [routerLink]="['home']" routerLinkActive="link-active">ANA SAYFA</a>
        </li>
        <li>
          <a [routerLink]="['menu']" routerLinkActive="link-active">MENÜ</a>
        </li>
        <li>
          <a [routerLink]="['gallery']" routerLinkActive="link-active"
            >HAKKIMIZDA</a
          >
        </li>
        <li>
          <a [routerLink]="['contact']" routerLinkActive="link-active"
            >İLETİŞİM</a
          >
        </li>
      </ul>
      <i class="d-none fa-solid fa-bars" (click)="toggleNavbar()"></i>
      <div class="contact-wrapper">
        <a href="tel:123-45-67">
          <img
            class="phone-icon"
            src="assets/img/phone.svg"
            alt="numara"
            width="46px"
          />123-45-67
        </a>
      </div>
    </div>
  </div>
</section>
