<section class="footer container-fluid">
  <div class="container-md">
    <div class="footer-menu">
      <a class="logo mt-3 lg:mt-0">
        <img src="assets/img/logo-title.png" alt="logo" /></a>
      <div class="footer-menu-group responsive">
        <div class="footer-nav">
          <ul>
            <li><a [routerLink]="['']">ANA SAYFA</a></li>
            <li><a [routerLink]="['menu']">MENÜ</a></li>
            <li><a [routerLink]="['hakkimizda']">HAKKIMIZDA</a></li>
            <li><a [routerLink]="['iletisim']">İLETİŞİM</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-menu-group working-hours">
        <h3 class="text-center md:text-left">ÇALIŞMA SAATLERİ</h3>
        <br />
        <ul>
          <li>PAZARTESİ <span>KAPALI</span></li>
          <li>SALI <span>11.30 - 03.00</span></li>
          <li>ÇARŞAMBA <span>11.30 - 03.00</span></li>
          <li>PERŞEMBE <span>11.30 - 03.00</span></li>
          <li>CUMA <span>11.30 - 03.00</span></li>
          <li>CUMARTESİ <span>11.30 - 03.00</span></li>
          <li>PAZAR <span>11.30 - 03.00</span></li>
        </ul>
      </div>
      <div class="footer-menu-group contact">
        <h3 class="text-center md:text-left">İLETİŞİM</h3>
        <ul>
          <li>TELEFON: 0501 136 8652</li>
          <li>
            ADRES:
            <span>Kurtuluş Mahallesi, Armutlu Caddesi No:12-A, Nilüfer/Bursa</span>
          </li>
          <li>
            <div class="footer-socials">
              <a href="">
                <img src="assets/img/logo-instagram.svg" alt="instagram" width="40" height="40" /> </a><a href="">
                <img src="assets/img/logo-facebook.svg" alt="facebook" width="40" height="40" />
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <hr />
      <p class="text-center">© Pizza Demergenza 2023</p>
    </div>
  </div>
</section>