<section class="footer container-fluid">
  <div class="container-md">
    <div class="footer-menu">
      <a class="logo"> <img src="assets/logo-title.png" alt="logo" /></a>
      <div class="footer-menu-group responsive">
        <div class="footer-nav">
          <ul>
            <li><a routerLink="['home']">ANA SAYFA</a></li>
            <li><a routerLink="['menu']">MENÜ</a></li>
            <li><a href="['sss']">SIKÇA SORULAN SORULAR</a></li>
            <li><a href="['gallery']">GALERİ</a></li>
            <li><a href="['contact']">İLETİŞİM</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-menu-group working-hours">
        <h3>ÇALIŞMA SAATLERİ</h3>
        <br />
        <ul>
          <li>PAZARTESİ <span>11.00 - 03.00</span></li>
          <li>SALI <span>11.00 - 03.00</span></li>
          <li>ÇARŞAMBA <span>11.00 - 03.00</span></li>
          <li>PERŞEMBE <span>11.00 - 03.00</span></li>
          <li>CUMA <span>11.00 - 03.00</span></li>
          <li>CUMARTESİ <span>11.00 - 03.00</span></li>
          <li>PAZAR <span>11.00 - 03.00</span></li>
        </ul>
      </div>
      <div class="footer-menu-group contact">
        <h3>İLETİŞİM</h3>
        <ul>
          <li>TELEFON: 7355608</li>
          <li>
            ADRES:
            <span
              >12000 – 12100 Coors Rd SW, Albuquerque, New Mexico 87045</span
            >
          </li>
          <li>
            <div class="footer-socials">
              <a href="">
                <img
                  src="assets/logo-instagram.svg"
                  alt="instagram"
                  width="40"
                  height="40"
                /> </a
              ><a href="">
                <img
                  src="assets/logo-facebook.svg"
                  alt="facebook"
                  width="40"
                  height="40"
                />
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <hr />
      <p>© Copyrights PizzaDemergenza 2023. All Rights Reserved</p>
    </div>
  </div>
</section>
