.contact-wrapper {
  padding-top: 160px;
  background: linear-gradient(178deg, rgba(30,28,29,0) 0%, rgba(1,0,0,1) 100%, rgba(162,160,161,1) 100%),
    url("../../../../assets/img/bg-3.jpg");
}
@media (max-width: 768px) {
  .contact-wrapper {
    padding-top: 135px;
  }
}

.pi{
  border:2px solid #ff9544;
  color: #ff9544;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px
}

.pi:hover{
  cursor: pointer;
  background: #ff9544;
  color: #fff;
  transition: all .3s ease-in;
}

h4{
  margin: 0;
}


