<section id="contact">
  <div class="contact-wrapper">
    <div class="p-4">
      <div class="about-us-header text-4xl mb-3 text-center text-white">İLETİŞİM</div>
      <p-breadcrumb class="max-w-full" [model]="items" [home]=""
        styleClass="bg-black-alpha-40 border-none w-max m-auto"></p-breadcrumb>
    </div>
    <div class="bg-white py-4">
      <div class="grid justify-content-center m-0 my-5">
        <div class="m-2 p-3 col-10 md:col-6 lg:col-3 border-1 border-300 shadow-5">
          <div class="contact-header">
            <h3>İLETİŞİM BİLGİLERİ</h3>
          </div>
          <div class="contact-body flex flex-column">
            <div class="flex">
              <div><i class="pi pi-map-marker"></i></div>
              <div class="inline px-3">
                <h4>ADRES</h4>
                Kurtuluş Mahallesi, Armutlu Caddesi No:12-A, Nilüfer/Bursa
              </div>
            </div>
            <div class="flex mt-4">
              <div><i class="pi pi-envelope"></i></div>
              <div class="inline px-3">
                <h4>E POSTA</h4>
                pizza.demergenza&#64;gmail.com
              </div>
            </div>
            <div class="flex mt-4">
              <div><i class="pi pi-phone"></i></div>
              <div class="inline px-3">
                <h4>TELEFON</h4>
                0501 136 8652
              </div>
            </div>
          </div>
        </div>
        <div class="m-2 p-3 col-10 md:col-6 lg:col-3 border-1 border-300 shadow-5" style="min-height: 256px;">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3046.668523886032!2d28.82505837648767!3d40.216435867804876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ca3fb25f7dc019%3A0xac5a1d637a807050!2sPizza%20D%E2%80%99emergenza!5e0!3m2!1sen!2str!4v1700778719725!5m2!1sen!2str"
            width="100%" height="100%" style="border: 0" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>