section#category {
  padding-top: 160px;
}

.grid {
  background: #dbe2ef;
  /* background: #dbe2ef; */
  padding: 30px;
  color: #fff;
}

.grid img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1 / 1;
  transition: 0.4s all;
}

.col {
  background: #fff;
  overflow: hidden;
}

.grid .category > .relative {
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.grid .category:hover img {
  transform: scale(1.1);
}

@media(max-width:768px){
  section#category{
    padding-top: 135px;
  }
}
